{% extends 'base.html' %}
{%block content%}
<header class="masthead text-center text-white d-flex">
   <div class="container my-auto">
      <div class="row">
         <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
               <strong>Food For You</strong>
            </h1>
            <hr>
         </div>
         <div class="col-lg-4 mx-auto">
            <p class="mb-5">Find recipes and products matching your diets and allergies</p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="search_diet">Start Searching</a>
         </div>
      </div>
   </div>
</header>
{%endblock%}