<table id="tblProducts" class="table">
    <thead>
        <tr>
          <th scope="col">Product Name</th>
          <th scope="col">Brand Name</th>
          <th scope="col">Calories</th>
          <th scope="col">Total Fat</th>
          <th scope="col">Saturated Fat</th>
          <th scope="col">Cholesterol</th>
          <th scope="col">Soduim</th>
          <th scope="col">Sugars</th>
          <th scope="col">Protein</th>
        </tr>
  </thead>
  <tbody>
  {% for row in data %}
   <tr>
      {% for cell in row %}
       <td>{{cell}}</td>
      {% endfor %} 
   </tr>                     
   {%endfor%}
  </tbody>
</table>